#skipper-insurance {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $secondary;
  .all-boat-link {
    color: $gray-500;
  }
  .all-boat-link:hover {
    color: $warning;
  }
  .insurance-card {
    background-color: #03253f;
    .card-title {
      color: $warning;
      font-weight: 600;
      font-size: 1.5rem;
    }
    .card-image {
      background-image: url(../images/placeholder.png);
      margin-top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; /* Center the image */
      min-height: 250px;
    }
    .card-body {
      color: $gray-500;

      p {
        margin-bottom: 0;
      }
    }
    .card-subtitle {
      color: $gray-500;
    }
  }
}
